/*poopins fonts style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/*---------------------
    banner part start 
----------------------*/
.banner-part{
    display: flex;
    justify-content: center;
    padding: 42px 0px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.banner-container{
    width: 1160px;
}
/* navigation part */
.nav-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
}
.nav ul{
    position: relative;
    margin: 0;
    list-style: none;
    display: inline;
}
.nav li{
    float: left;
}
.nav li a{
    font-size: 16px;
    color: white;
    margin-right: 35px;
}
.login button{
    padding: 10px 24px;
    background-color: #E02C6D;
    color: white;
    border: none;
    cursor: pointer;
}
.login button i{
    margin-right: 8px;
}

/* banner-content part */
.banner-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.banner-item h2{
    margin: 0;
    font-size: 64px;
    line-height: 80px;
    color: white;
    margin-bottom: 27px;
}
.watch {
    padding: 10px 24px;
    background-color: #E02C6D;
    font-size: 16px;
    color: white;
}
.watch > i{
    margin-left: 8px;
}
.banner-item img{
    width: 100%;
    transition: transform 0.6s;
}
.banner-part:hover .banner-item img{
    transform: skew(-5deg);
}

/* blogs-part start */
.blogs-part{
    display: flex;
    justify-content: center;
}
.blog-container{
    width: 1050px;
}
.blog-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-bottom: 100px;
}
.blog{
    padding: 15px 15px 33px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.blog img{
    width: 100%;
}
.blog h3{
    margin: 0px;
    font-size: 28px;
    font-weight: bold;
    color: #18191F;
    padding: 16px 0px 10px;
}
.blog p{
    margin: 0;
    font-size: 16px;
    color: #6c6c6c;
}

/* highlight-part start */
.highlight-part{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.highlight-container{
    width: 1050px;
    display: flex;
    justify-content: center;
}
.high-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.highlight-content > h3{
    font-size: 48px;
    font-weight: bold;
    color: #0A0826;
    margin: 0px;
}
.highlight-content > p{
    font-size: 16px;
    color: #6C6C6C;
    padding-bottom: 20px;
}
.highlight-image img{
    width: 100%;
}
/*---------------------------
 trending-visitor-part start 
 ----------------------------*/
 /* trending-part start */
.trending-visitor-part{
    display: flex;
    justify-content: center;
}
.trending-visitor-container{
    width: 1050px;
}
.trending-visitor-container h2 {
    font-size: 30px;
    margin-top: 0px;
    padding: 0px 0px 15px;
    border-bottom: 2px solid #dfdfdf;
}
.trending-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 100px;
}
.trending{
    padding: 15px 15px 35px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.trending img{
    width: 100%;
    border-radius: 15px;
}
.visitor-part{
    margin-bottom: 100px;
}
.visitor-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
}
/* visitor-part start */
.visitor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.visitor-info > h3{
    margin: 0px;
    font-size: 20px;
}
.visitor-photo img{
    width: 120px;
    height: 120px;
    margin-left: 15px;
    border: 4px solid #dfdfdf;
    border-radius: 100%;
}

/* footer-part start */
.footer-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-logo img{
    width: 482px;
    height: 110px;
    cursor: pointer;
}
.footer-social-icon a{
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon > a > i{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #969BAB;
    background-color: #e7e7e8;
    padding: 5px;
    border-radius: 100%;
}
.footer-copyright p{
    font-size: 18px;
}

/*----------------
 responsive part  
 ----------------*/
 /* for mobile device */
 @media only screen and (max-width: 688px) {
     .banner-container{
         width: 100%;
         margin: 0px 35px;
     }
    
    .banner-content{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 60px;
        align-items: center;
    }
    .blog-item{
        margin-bottom: 70px;
    }
    .banner-item > h2{
        font-size: 36px;
    }
    .blog-container{
        margin: 0px 30px;
    }
    .blog-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlight-container{
        width: 100%;
        justify-content: space-between;
    }
    .high-item{
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 40px;
        margin: 0px 30px;
    }
    .highlight-content > h3{
        font-size: 30px;
    }
    
    .trending-visitor-container{
        width: 100%;
        margin: 0px 30px;
    }
    .trending-item{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        justify-content: center;
    }
    .visitor-item{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
    .footer-logo img{
        width: 85%;
    }
    
    
    
 }